{% if STATIC_COMMENTS %}

<section id="comments" class="body">

<h2>Comments!</h2>

<p>Want to comment? Send me an email to jesrui at sdfeu dot org and I'll paste
it here (I won't publish your address). Why don't you use an external comment
service like disqus, you ask? Well, I like to keep this site under my control,
comments included.</p>

You can use markdown to format your comment.

{{ article.metadata.static_comments }}

</section>

{% endif %}
